 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 ;
    padding: 0 auto;    
}
/*MENU*/
header{
    background: #C8170E;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 10%;
}
.logo{
    filter: invert(100%);
}
.logo:hover{ 
    filter: none;
}
.logo img{
    width: 130px;
}


.menu{
    margin-right: 10%;
}


.menu li{
    display: inline-block;
    padding: 0 10px;
}

.clear{
    clear: both;
}
/*pesquisa*/
.container-busca{
    width: 500px;
    position: relative;
    height: 50px;
}
.container-busca input {
    height: 40px;
    border: 1px solid #ececec;
    border-radius: 25px;
    outline: none;
    padding-left: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    color: #fff;
    background-color: #C8170E;
  }

  .container-busca button { 
    height: 41px;
    width: 50px;
    background:  url('../img/lupa.png') center no-repeat;
    border: none;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  
  }

.container-busca ::placeholder{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.user{
    filter: invert(100%);
}
.user:hover{ 
    filter: none;
}
.shop{
    filter: invert(100%);
}
.shop:hover{ 
    filter: none;
}

/*CATEGORIAS*/
.menu-linha{
    width: 100%;
    height: 50px;
    background-color: #ececec;
    
}
.caixa-conteudo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 5pt;
    
}
.conteudo{
    
    padding: 16px 50px;
    color: #888;
}
.conteudo:hover{
    color: #C8170E;
    border-bottom: 2px solid #C8170E;
}
.cont-vocesabia{
    color: #C8170E;
}
.conteudo a{
    text-decoration: none;
}
hr{
    width:2px;
    size: 30px;
    margin-top: 3px;
    padding: 20px 0;
}
/*voce sabia*/

.container-vocesabia{
    background-image: url("../img/fundo-voce.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    padding-top: 32px;
}

.voce-sabia{
    background-size: cover;
    background-position: center;
    width: 40%;
}

.voce-sabia img{
    width:450px ;
    border-radius: 40px 40px 40px 1px;
    padding: 15px;
}

.text-vs{
    width: 60%;
    display: inline;
    margin-right: 30px;
    text-align: center;
    font-size: 32px;
    padding: 15px;
}
.text-vs p{
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
}

.text-vs h1{
    padding: 0px 0px 20px 0px;
    font-size: 60px;
    color:#C8170E;
    font-family: 'Oswald', sans-serif;

}
.vcsabia input{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: #C8170E;
    color: #fff;
    border: 1px #C8170E;
    margin-top: 40px;
    
}
.vcsabia input:hover{
    background-color: #ff9f02;
    color: white;
    cursor: pointer;
}
.alinha{
    display: flex;
    justify-content: center;
    padding: 70px;
}
 
/*banner*/
.banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner img{
    width:100%;
}



/*produtos*/
.container-produtos{
    margin: 0 ;
    padding: 0 auto;
    min-height: 600px;
    background-image: url('../img/parallax.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.blocos{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
 }

.bloco-individual a{
     text-decoration: none;
     color: black;
 }
  
.bloco-individual {
    float: left;
    width: 22%;
    padding: 0 40px;
    transition: all 0.2s ease-out;
}

.bloco-individual:hover{
    transform: scale(1.1);
    text-decoration: underline;
    transition: 0,5s;
}
  
.bloco-individual img {
    display: flex;
    border-radius: 100%;
    width: 100%;
}

.bloco-individual p{
    text-align: center;
    font-size: 33px;
    margin-top: 20px;
    font-family: 'Comfortaa', 'cursive'; 
}

/* mais vendidos*/
.btn-maisvendidos{
    background-color: #ff9f02;
    color: #FFF;
    text-decoration: none;
    margin:0px 20px ;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    max-width: 100%;
}

.caixa-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 40px;
}

.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.cards:hover{
    border: 1px solid #068039;
    box-shadow: 0 4px 8px 0 #068039;
    transform: scale(1.04);
    transition: all 0.1s ease-in;
  }
  
.caixinha {
    padding: 16px;
    font-family: 'Comfortaa', cursive;
    
  }

.caixinha h3{
    margin-bottom: 10px;
    font-size:12pt;
}
.caixinha h4{
    font-size: 24px;
    margin-bottom: 5px;
}
.caixinha p{
    font-size: 8pt;
}
.caixinha button{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    align-items: center;
    border: none;
    background-color: #408029;
    color: #ECECEC;
    font-size: 12pt;
    border-radius: 25px;
    cursor: pointer;
}
.caixinha button:hover{
    background-color: #ff9f02;

}
.caixinha .carrinho{
    background-color: #ececec;
    font-size: 10pt;
    color: #1C1C1C;
    border-radius: 0;
    border: 1px solid #1C1C1C;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}
.caixinha .carrinho:hover{
    background-color: #cfcccc;
    border: 1px solid #1C1C1C;

}
/*bolha whatsapp*/
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 2px #888;
}
.whatsapp img{
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}

/*Rodape*/
    footer{
        padding: 50px 0;
        background: #C8170E;
    }
    .container-footer{
        max-width: 100%;
        padding: 0 4%;
        margin: auto;
    }
    .row-footer{
        display: flex;
        flex: wrap;
    }
    .footer-col{
        padding: 2px 15px;
        width: 35%;
    }
    .footer-col h4{
        color: #fff;
        font-size: 22px;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .footer-col ul{
        list-style: none;
    }
    .footer-col ul li{
        margin: 10px 0;
    }
    .footer-col ul li a{
        font-size: 18px;
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #068039;
        padding-left: 10px;
    }
    .footer-col .rede-social{
        margin-top: 30px;
    }
    .footer-col .rede-social a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        text-decoration: none;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: all 0.3s ease;
        margin: 0 6px;
    }
    .footer-col .rede-social a:hover{
        color: #C8170E;
        background-color: #fff;
    }
    .footer-col .form-insc input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        outline: none;
        color: #888;
        border: 1px solid #fff;
    }
    .footer-col .form-insc button{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 17px;
        outline: none;
        cursor: pointer;
        color: #C8170E;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #fff;
    }
     .direitos{
         padding: 5px 0;
        background: #C8170E;
        text-align: center;
        font-size: 13px;
      }
      .direitos a{
          text-decoration: none;
          color: #ECECEC;
      }

/*Media query*/
@media (max-width:850px){
    .logo img{
        width: 70px;
    }
    .container-busca{
        width: 300px;
    }
    .menu-linha{
        height: 30px;
    }
    .caixa-conteudo{
        font-size: 4pt;
    }
    .conteudo{
        padding: 10px 10px;
    }
    hr{
       width: 1;
       padding: 4px 0;
    }
    .blocos{
        padding: 10px;
    }
    .bloco-individual{
        padding: 0 10px;
    }
    .bloco-individual img{
        width: 100%;
    }
    .bloco-individual p{
        font-size: 15pt;
        margin-top: 10px;
    }
    .container-vocesabia{
        height: 300px;
        padding-top: 15px;
    }
    .alinha{
        padding: 0;
    }

    .voce-sabia {
        display: none;
    }
    .text-vs{
        font-size: 11pt;
    }
    .text-vs h1{
        font-size: 17pt;
    }
    .btn-maisvendidos{
        font-size: 10pt;
        margin-top: 5px;
    }
    .caixa-cards{
        padding: 5px 20px;
    }
    .cards{
        width: 35%; 
    }
    footer{
        padding: 10px 0;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col .rede-social a{
        margin: 6px ;
    }
    .footer-col .form-insc input{
        font-size: 8pt;
    }
}

@media(max-width:500px){
    header{
        justify-content: space-around;
    }
    .logo img{
        width: 70px;
    }
    .logo{
        margin: 0;
    }
    .menu li{
        padding: 0 5px;
    }
    .menu{
        margin: 0;
    }
    .menu li img{
        width: 30px;
    }
    .container-busca input{
        height: 40px;
    }
    .container-busca{
        width: 150px;
    }
    .menu-linha{
        height: 20px;
    }
    .caixa-conteudo{
        font-size: 3pt;
    }
    .conteudo{
        padding:  4px;
    }
    hr{
       width: 1;
       padding: 2px 0;
    }
    .blocos{
        padding: 0px;
    }
    .bloco-individual{
        padding:  10px;
        width: 45%;
        display: flex;
        
    }
    .bloco-individual a img{
        justify-content: center;
    }
    .bloco-individual p{
        font-size: 18pt;
        margin-top: 10px;
    }
    .container-vocesabia{
        height: 300px;
        padding-top: 15px;
    }
    .voce-sabia{
        display: none;
    }
    .vcsabia input{
        margin-top: 15px;
    }
    .alinha{
        padding: 0;
    }
    .text-vs{
        font-size: 10pt;
        margin: 0;
        width: 90%;
    }
    .text-vs h1{
        font-size: 15pt;
        padding: 0;
    }
    .btn-maisvendidos{
        font-size: 10pt;
        height: 35px;
        margin-top: 5px;
        padding: 12px;
    }
    .caixa-cards{
        padding: 10px 10px;
    }
    .cards{
        width: 45%; 
    }
    footer{
        padding: 10px 0;
    }
    .row-footer{
        display: block;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col .rede-social a{
        margin: 6px ;
    }
    .footer-col .form-insc input{
        font-size: 8pt;
        width: 300px;
    }
    .footer-col .form-insc button{
        font-size: 8pt;
        width: 300px;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col h4{
        font-size: 10pt;
    }
    .footer-col ul li a{
        font-size: 8pt;
    }
    
    .whatsapp-link{
        width: 40px;
        height: 40px;
    }
    .whatsapp-link img{
        width: 40px;
        height: 40px;
    }
    .direitos{
        font-size: 5pt;
    }
}
